
.navbar-Container{
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #aeceef;
    width: 100%;
    height: 5rem;
    gap: 7rem;
}
.navbar-Container img{
    width: 7rem;
}

.navbar-container-list{
    display: flex;
    gap: 1rem;
    list-style: none;
}

.navbar-container-list-item{
    padding: 1rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #e5e4e2;
}